.background {

        background-image: url("../assets/background.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        z-index: -1;

    &__filter {

        background-color: rgba(255, 255, 255, 0.8);
    }

    &__brand {
        min-height: 500px;
        background-image: url("../assets/img5.jpg");
        background-position: center;
        background-size: cover;
        opacity: 0.7;
    }
}

