@include media-breakpoint-up(sm) 
{
    .img-custom {
        max-height: 23rem;
        max-width: 23rem;
    }

    .container-offer {
        padding: 0;
    }
}

@include media-breakpoint-down(md)
{

    .mobile-hide {
        overflow: hidden; 
        transition: max-height .5s ease-in-out;
        height: auto;
        max-height: 400px;

        &-disabled {
            overflow:hidden;
            max-height: 0;
            transition: max-height .5s ease-in-out;
            height: auto;
        }

        &-active {
            color: lighten(black, 30%);
        }
    
    }
    .navbar__collapse {
        display: block;
        font-size: 30px;
        padding-top: 8px;

    }

    .mobile-gallery {
        overflow:hidden;
        max-height: 0;
        transition: max-height .5s ease-in-out;
        height: auto;
    
        &-active {
            overflow: hidden; 
            transition: max-height .5s ease-in-out;
            height: auto;
            max-height: 10000px;
        }
    }

    .gallery__btn {
        display: block;
    }
}

@include media-breakpoint-up(md)
{
    .background__brand {
        height: 80vh;
    }
    .sectionHeader {
        font-size: 6rem;
        color: white;
    }

}


@include media-breakpoint-up(lg)
{
    section {
        margin: 90px 0;
    }

    .img-custom {

        &-left {
            box-shadow: -5rem -1.5rem 0px 0px rgba(198, 180, 159, 1);
        }
    
        &-right {
            box-shadow: 5rem -1.5rem 0px 0px rgba(198, 180, 159, 1);
        }
    }

}

@include media-breakpoint-up(xxl)
{
    .gallery__container {
        max-height: 100%;
    }

}
