@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './basic';
@import './animations';
@import "./background";
@import "./navbar";
@import "./offer";
@import "./gallery";
@import "./media";

body {
    font-size: 1.3rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}
.container-fluid {
    padding: 0px;

}

.content {
    padding: 50px;
}




.section-header {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    color: rgba(0,0,0,0.90);
}


.contact__map {
    opacity: 0.8;
    border-radius: 2%;
    // height: 100%;
    width: 100%;
}

footer {
    box-shadow: 0px -11px 66px 0px rgba(0,0,0,0.50);
}

.text {
    text-align: justify;
}


